body {
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}
.App {
  height: 100vh;
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}
::-webkit-scrollbar {
  display: none;
}
.container {
  position: relative;
  margin: 20px 50px;
}
i {
  cursor: pointer;
}
.logo {
  display: flex;
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #1a6794 0%, #5491c3 100%);
  height: 80px;
  width: 80px;
  border-radius: 15px;
}

.oclock .title {
  color: white;
  margin: 0 auto;
  margin-top: 45px;
  font: 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.logo .title {
  color: white;
  margin: 0 auto;
  margin-top: 10px;
  font: 44px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.tag-content {
  box-shadow: 3px 5px #888888;
  overflow: hidden;
  position: relative;

  background-color: rgb(227, 231, 224);
  height: 550px;
  width: 250px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(121, 117, 117, 0.5);
}
#intro_imgLogo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;

  animation: img_active 1s infinite;
}

.intro {
  overflow: hidden;
  position: relative;
  /* margin: 40px auto; */
  position: absolute;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  height: 550px;
  width: 250px;
  border-radius: 10px;
  z-index: 9999;
  perspective: 2000px;
}
.overlay-nav {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  height: 550px;
  width: 100%;
  right: 0;
  z-index: 9999;
  border-radius: 10px;
}
.row {
  display: flex;
  width: 100%;
}
.list {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list.list-item {
  width: 100%;
  border-radius: 8px 10px 0 0;
  background-color: rgb(77, 147, 255);
}
.input-search {
  width: 100%;
  background-color: white;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.input-search input {
  width: 90%;
  height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.input-search i {
  width: 10%;
  padding-top: 8px;
  color: darkgray;
}
.item .title-tag {
  font-size: 15px;
}
.list.list-tag {
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 4px 4px;
  height: 90%;
}
.col {
  display: flex;
  align-items: center;
}
.list-tag .col {
  margin: auto;
  height: 100%;
  flex-direction: column;
}
.list-tag .col span {
  font-size: 10px;
  margin: 2px 0;
  color: rgb(177, 174, 174);
}
.item {
  color: white;
  margin: 5px;
}

.item i {
  font-size: 13px;
}
.tab i {
  margin: auto;
  font-size: 15px;
  color: rgb(177, 174, 174);
}

.active span {
  transition: 0.2s;
  color: rgb(77, 147, 255);
}
.active i {
  transition: 0.2s;
  color: rgb(77, 147, 255);
}

/* .tab-1:hover{
  border-bottom: 5px solid rgb(135, 135, 235);
  border-radius:0 0 10px 10px ;
} */
.list-info {
  display: flex;
  flex-direction: column;
  margin: 2px 8px;
  width: 100%;
  max-height: 455px;
  overflow-y: auto;
}

.list-info .item-info {
  cursor: pointer;
  display: flex;
  margin: 3px 0;
  /* height:140px; */
}
.border-info {
  height: 150px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.item-info .picture {
  height: 100%;
  width: 50%;

  background-color: #1a6794;
}
.info {
  width: 50%;
  background-color: white;
  height: 100%;
  display: flex;
}
.item-info .picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-info {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.i-info {
  margin: 5px 5px;
  overflow: hidden;
  padding: 0px;

  /*  xuong dong, chia moi hang bang nhau */
  /* white-space: pre-wrap; */
  /* Nhung tu qua dai se xuong dong */
  /* overflow-wrap: break-word; */
  /* cut va thay the 3 cham */
  /* text-overflow: ellipsis; */
}
.name-info {
  color: rgb(189, 189, 189);
  font-size: 10px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  height: calc(15% - 5px);
}
.title-info {
  height: auto;
  color: rgb(51, 51, 51);
  font-size: 8.5px;
  font-weight: bold;
  margin-bottom: 7.1px;
}
.content-info {
  /* color: rgb(51, 51, 51); */
  font-size: 7.5px;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* tabnav */
.tabnav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  border-radius: 10px 0 0 10px;
  background-color: rgb(77, 147, 255);
  height: 550px;
  width: 175px;
  transform: translateX(-175px);

  /* animation: hide_nav 0.5s; */
}
.nav-header {
  position: relative;
  width: 100%;
  height: 30%;
  border-radius: 10px 0 0 0;
  background-color: darkgrey;
  top: 0;
}
.nav .item-nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.i-nav {
  margin: 10px 10px;
  padding: 6px;
}
.item-nav i {
  color: white;
  font-size: 20px;
}
.item-nav .name-tag {
  font-size: 15px;
}
.nav .item-nav:hover {
  background-color: white;
}
.nav .item-nav:hover i {
  color: black;
}
/* Login */
.content-login {
  position: relative;
  margin: 40px auto;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  /* background-image: url(./image/bg1.png); */
  height: 550px;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.opacity-form {
  height: 100%;
  width: 100%;
  /* background-color: none; */
  /* background-color: rgb(0,0,0,0.6); */
  border-radius: 10px;
}
.list-button {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5%;
  width: 100%;
  /* border-radius:40px; */
}
.prev {
  position: absolute;
  margin: 10px;
}
.prev i {
  width: 20px;
  height: 20px;
  font-size: 21px;
  background-color: white;
  color: rgb(27, 144, 252);
  overflow: hidden;
  border-radius: 50%;
}
.list-button button {
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  background: none;
  color: white;
}
.list-button .btn-login {
  border-radius: 40px 0 0 40px;
  /* border:1px solid white; */
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 0.5px solid white;
}
.list-button .btn-register {
  border-radius: 0 40px 40px 0;
  /* border:1px solid white; */
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 0.5px solid white;
}

.form-login {
  /* display: none; */
  position: absolute;
  background-color: rgb(243, 243, 249);
  bottom: -50%;
  left: 6%;
  border-radius: 10px;
  width: 90%;
  z-index: 99999;
}
.form-register {
  /* display: none; */
  position: absolute;
  background-color: rgb(243, 243, 249);
  bottom: -65%;
  left: 6%;
  border-radius: 10px;
  width: 90%;
  z-index: 99999;
}
.hide-form {
  opacity: 0.5px;
  background-color: rgb(0, 0, 0, 0.5);
}
.show-nav {
  transform: translateX(0px);
  transition: 0.4s;
}
.hide-nav {
  transform: translateX(-175px);
  transition: 0.4s;
}

.title-login {
  font-size: 11.26px;
  margin: 15px auto;
  color: rgb(27, 144, 252);
}
.validate {
  margin: 2px 13px;
  font-size: 10px;
  color: red;
}
.row-input {
  margin: 8px auto;
  height: 25px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-evenly;
}
.icon-mail {
  height: 100%;
  background-color: rgb(221, 238, 255);
}
.input-mail {
  height: 100%;
}
.icon-mail i {
  text-align: center;
  font-size: 15px;
  color: rgb(33, 149, 255);
  margin: 5px 10px;
}
.input-mail input {
  width: 160px;
  height: 23px;
  border-radius: 0 5px 5px 0;
  border: none;
  outline: none;
}
.btn-submit {
  background-color: rgb(27, 144, 252);
  border: none;
  border-radius: 5px;
  color: white;
  margin: 10px auto;
  height: 100%;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* note */
.content-note {
  position: relative;
  margin: 40px auto;
  height: 550px;
  width: 250px;
  border-radius: 10px;
  background-color: rgb(235, 240, 246);
  border-bottom: 2px solid rgba(121, 117, 117, 0.5);
}
.header-note,
.header-detail {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(121, 117, 117, 0.5);
}
.i-note,
.i-detail {
  margin: 5px 0;
}
.row-note i {
  font-size: 15px;
  margin-left: 3px;
}
.name-note {
  margin: 0 auto;
}
/* details */
.detail {
  box-shadow: 3px 5px #888888;
  position: relative;
  margin: 40px auto;
  background-color: rgb(227, 231, 224);
  height: 550px;
  width: 250px;
  border-radius: 10px;
  border: 0.1px solid rgba(121, 117, 117, 0.5);
  border-bottom: 2px solid rgba(121, 117, 117, 0.5);
  overflow: hidden;
}
.main-detail {
  top: 1%;
  position: absolute;
  display: flex;
  height: 550px;
  width: 100%;
  overflow-y: auto;
  overflow-y: auto;
}
.img-cover {
  position: absolute;
  top: 7%;
  height: 30%;
  width: 100%;
}
.img-cover img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.header-detail {
  display: flex;
  justify-content: space-between;
}
.icon-detail i {
  font-size: 15px;
  margin-left: 3px;
}
.content-detail {
  top: 25%;
  left: 5%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 90%;

  border-radius: 10px;
}
.box-detail .row {
  margin: 5px 0;
}
.content-detail .box-detail {
  width: 100%;
  margin: 5px;
}
.box-detail .title-detail {
  font-weight: bold;
  font-size: 20.448px;
}
.date-detail {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.date-detail .home {
  padding: 5px;
  color: rgb(77, 147, 255);
  font-size: 9.088px;
  font-weight: bold;
}
.date-detail .date {
  color: rgb(77, 147, 255);
  font-size: 9.088px;
  padding: 5px;
}
.description-detail {
  display: flex;
}

.description-detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.selection-font {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 250px;
  background-color: white;
  z-index: 99999;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(121, 117, 117, 0.5);
}
/* select font */
.selection-font .row {
  width: 90%;
  font-weight: bold;
  font-size: 11.36px;
  margin: 10px 12px;
}
.title-size,
.title-display {
  padding: 10px 0;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  align-items: center;
}
.title-name-size,
.title-name-display {
  width: 30%;
  display: flex;
}
.list-name-size,
.list-name-display {
  width: 70%;
  margin-left: 20px;
  display: flex;
  justify-content: space-evenly;
}
.item-name-size,
.item-name-display {
  background-color: rgb(243, 243, 249);
  padding: 5px 15px;
  margin: 0 5px;
  color: rgb(153, 153, 153);
  font-size: 9.94px;
  border-radius: 10px;
}
.active-font {
  background-color: rgb(255, 154, 38);
  color: white;
}
/* select share */
.select-share {
  display: none;
  position: absolute;
  top: 45%;
  width: 85%;
  background-color: white;
  z-index: 999;
  margin: 0 19px;
  border-radius: 10px;
  border: 1px solid rgba(121, 117, 117, 0.5);
  /* flex-wrap: flex; */
}
.select-share .row {
  width: 90%;
  margin: 8px auto;
  justify-content: center;
  align-items: center;
}
.select-share .title-share {
  color: rgb(235, 87, 87);
  font-size: 9.94px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.select-share .list-icon-share {
  display: flex;
  justify-content: space-evenly;
}
.select-share .list-icon-share i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14.2px;
  height: 28.4px;
  border-radius: 50%;
  width: 28.4px;
}
.show_font {
  display: block;
  animation: show_font 1s;
}
.show_share {
  display: block;
  animation: show_share 1s;
}
@keyframes show_font {
  0% {
    transform: translateY(250px);
  }
}
@keyframes show_share {
  0% {
    transform: translateY(300px);
  }
}
@keyframes show_form {
  0% {
    transform: translateY(150px);
  }
}
@keyframes img_active {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
/* Tag2 */
.border-info_tab2 {
  padding: 4px;
  height: 65px;
}
.name-info_tab2 {
  height: 20%;
  font-size: 8px;
  margin: 2px 7px;
  padding-left: 0;
}
.title-info_tab2 {
  overflow: hidden;
  height: auto;
  margin: 2px 7px;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content-info_tab2 {
  height: 20%;
  margin: 2px 7px;
}
.main-info_tab2 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 31%;
  width: 100%;
  border-radius: 10px;
}
.main-info_tab2 img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-tab2 {
  color: white;
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}
.main-title-info_tab2 {
  font-weight: bold;
  font-size: 13px;
  margin: 5px 5px;
}
.main-name-info_tab2 {
  font-size: 8px;
  margin: 5px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* Tag3 */
.main-tab3 {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}
.list-info_tab3 {
  /* justify-content: space-between; */
}
.border-info_tab3 {
  position: relative;
  width: 100%;
  flex-direction: column;
  height: 100%;
  margin: 3px 2px;
}
.border-info_tab3 .picture,
.border-info_tab3 .info {
  width: 100%;
}
.name-info_tab3 {
  height: 20%;
  font-size: 10px;
  margin: 2px 7px;
  padding-left: 0;
}
.title-info_tab3 {
  height: auto;
  margin: 0px 7px;
  margin-top: 12px;
  margin-bottom: 5px;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.content-info_tab3 {
  height: auto;
  margin: 2px 7px;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.main-info_tab3 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 33%;
  width: 100%;
  border-radius: 10px;
}
.logo-info_tab3 {
  padding: 3px 6px;
  text-align: center;
  position: absolute;
  top: 47%;
  background-color: rgb(77, 147, 255);
  border-bottom-right-radius: 7.1px;
  border-top-right-radius: 7.1px;
  font-family: Roboto_medium;
  font-size: 10px;
  color: rgb(255, 255, 255);
}
.box-main-info_tab3 {
  position: relative;
  border-radius: 10px;
  width: 90%;
  height: auto;
  margin: auto auto;
  margin-bottom: 12px;
  background-color: white;
}
.img-logo {
  position: absolute;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  left: 45%;
  top: -13%;
}
.main-info_tab3 img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.list-info-item_tab3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.item-info_tab3 {
  height: 180px;
  cursor: pointer;
  display: flex;
  width: 50%;
}
.main-title-info_tab3 {
  width: 100%;
  font-size: 11.34px;
  margin: 0px 5px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.main-name-info_tab3 {
  color: rgb(130, 130, 130);
  font-size: 7px;
  margin: 8px 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* tab4 */

.list-info_tab4 {
  flex-direction: row;
  overflow: unset;
  overflow-x: auto;
}
.border-info_tab4 {
  padding: 4px;
  width: 250px;
  flex-direction: column-reverse;
  height: auto;
  margin: 3px 2px;
}
.border-info_tab4 .picture,
.border-info_tab4 .info {
  width: 100%;
}
.border-info_tab4 .picture img {
  border-radius: 5px;
}
.name-info_tab4 {
  height: 20%;
  font-size: 10px;
  margin: 2px 7px;
  padding-left: 0;
}
.title-info_tab4 {
  height: auto;
  margin: 0px 7px;
  margin-top: 5px;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content-info_tab4 {
  font-size: 8.5px;
  height: auto;
  margin: 0px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.date-info_tab4 {
  height: auto;
  margin: 0px 7px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 8.5px;
}
.main-info_tab4 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 33%;
  width: 100%;
  border-radius: 10px;
}
.logo-info_tab4 {
  padding: 3px 6px;
  text-align: center;
  position: absolute;
  top: 2%;
  left: 7%;
  background-color: rgb(77, 147, 255);
  border-radius: 6.5px;
  font-family: Roboto_medium;
  font-size: 6px;
  color: rgb(255, 255, 255);
}
.box-main-info_tab4 {
  position: relative;
  border-radius: 10px;
  width: 90%;
  height: 100px;
  margin: auto auto;
  margin-bottom: 12px;
  background-color: white;
}

.main-info_tab4 img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.list-info-item_tab4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.item-info_tab4 {
  margin: 3px 3px;
  border-radius: 10px;
  background: white;
  position: relative;
  height: 250px;
  cursor: pointer;
  display: flex;
  width: 66%;
}
.main-title-info_tab4 {
  width: 100%;
  font-size: 11.7px;
  margin: 10px 5px;
  text-align: center;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.main-name-info_tab4 {
  color: rgb(130, 130, 130);
  font-size: 8px;
  margin: 8px 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
